<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beginning Django</title>
</head>
<body>
    <h2>Stores: {{store_id}} Detail Template</h2>
    <h4>{{ store_name }} store</h4>
    <p>{{ store_address.street }}</p>
    <p>{{ store_address.city }}, {{ store_address.state }}</p>
    <hr>
    <p>We offer: {{ store_amenities.0 }} and {{ store_amenities.1 }}</p>
    <p>Menu includes: {{ store_menu.1.1 }} and {{ store_menu.2.1 }}</p>
    <div>
        {% if location %}
            <h3>Location: {{ location }}</h3>
        {% endif %}
    </div>

    <a href="{% url 'stores:index' %}">Back to stores</a><br
</body>
</html>